<!DOCTYPE html>

<html lang="fr">

        <head>
            <meta charset="utf-8">
            <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>OhMyFood</title>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            <link rel="stylesheet" href="css/style.css" />
        </head>

    <body>
        <main>
            <article>

            <header>
                <h1><a href="index.html">ohmyfood</a></h1>
            </header>

            <section>
                <h2>Le délice des papilles</h2>
            </section>

            <section>

                <header>
                    <img src="images/ligne1delice" alt="image d'un trait">
                    <h3>Pour bien commencer</h3>
                    <img src="images/ligned1delice" alt="image d'un trait">
                </header>

                <ul>
                    <li>Tartare de thon assaisonné au yuzu</li>
                        <li>55€</li>

                    <li>Bouchée de homard croustillant et sa farandole de petits légumes</li>
                        <li>89€</li>

                    <li>velouté de cèpes aux truffes</li>
                        <li>56€</li>
                </ul>

            </section>

            <section>

                <header>
                    <img src="images/ligne2delice" alt="image d'un trait">
                    <h3>Pour bien continuer</h3>
                    <img src="images/ligned2delice" alt="image d'un trait">
                </header>

                <ul>
                    <li>Pouet roti aux herbes de provence et sa crème de truffe</li>
                        <li>110€</li>

                    <li>Langouste rôtie et ses légumes de saison</li>
                        <li>225€</li>

                    <li>Cotes de boeuf angus et sa purée de panais</li>
                        <li>115€</li>
                </ul>

            </section>

            <section>

                <header>
                    <img src="images/ligne3delice" alt="image d'un trait">
                    <h3>pour bien terminer</h3>
                    <img src="images/ligned3delice" alt="image d'un trait">
                </header>

                <ul>
                    <li>Farandole de dessert du chef</li>
                        <li>55€</li>

                    <li>Crème brulée revisitée</li>
                        <li>60€</li>

                    <li>Tiramisu à la noisette</li>
                        <li>55€</li>
                </ul>

            </section>

                <footer>
                <a href="mentions_legales.html" target="_blank">Mentions légales</a>
                <a href="mailto:contact@ohmyfood.com">Contactez-nous</a>
                </footer>

            </article>
        </main>
    </body>
</html>