<!DOCTYPE html>
<html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>OhMyFood</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    </head>

    <body>

        <header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>

        <main>

            <section>
                <h2>Le chic à la française</h2>
            </section>

            <section>

                    <img src="images/ligne1chic" alt="image d'un trait">
                    <h3>Pour se mettre en appétit</h3>
                    <img src="images/ligned1chic" alt="image d'un trait">

                <ul>
                    <li>Tartare de poulpe acidulé aux zests d'orange
                    79€</li>

                    <li>Velouté de légume d'antan
                    57€</li>

                    <li>Soupe à l'oignon revisitée
                    57€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne2chic" alt="image d'un trait">
                    <h3>Plaisir des papilles</h3>
                    <img src="images/ligned2chic" alt="image d'un trait">

                <ul>
                    <li>Coquille Saint-Jacques accompagnées d'une purée de panais
                    95€</li>

                    <li>Margret de canard et parmentier de pommes de terres
                    88€</li>

                    <li>Pigeonneau d'Ile et Vilaine sur son lit de gnocchis aux légumes
                    175€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne3chic" alt="image d'un trait">
                    <h3>Mouvement final</h3>
                    <img src="images/ligned3chic" alt="image d'un trait">

                <ul>
                    <li>Pétales de violettes glacés et purée de noisettes</li>

                    <li>Fondant au chocolat revisité</li>

                    <li>Millefeuille croustillant</li>
                </ul>

            </section>

        </main>

        <footer>
            <a href="mentions_legales.html" target="_blank">Mentions légales</a>
            <a href="mailto:contact@ohmyfood.com">Contactez-nous</a>
        </footer>

    </body>
</html>