<!DOCTYPE html>
<html>
<html lang="fr">

        <head>
            <meta charset="utf-8">
            <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>OhMyFood</title>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        </head>

   <body>

        header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>

        <main>

            <section>
                <h2>La palette du goût</h2>
            </section>

            <section>

                    <img src="">
                    <h3>Esquisse</h3>
                    <img src="">

                <ul>
                    <li>Fricassée d'escargot au piment d'espelette
                    60€</li>

                    <li>Oeuf au plat assaisonné à la truffe sur lit de caviar
                    55€</li>

                    <li>Foie gras de canard mi-cuit et ses copeaux de truffes noire
                    65€</li>
                </ul>

            </section>

            <section>

                    <img src="">
                    <h3>Oeuvre de maître</h3>
                    <img src="">

                <ul>
                    <li>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes
                    70€</li>

                    <li>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais
                    85€</li>

                    <li>Filet de Turbot aux agrumes
                    125€</li>
                </ul>

            </section>

            <section>

                    <img src="">
                    <h3>Au sommet de l'art</h3>
                    <img src="">

                <ul>
                    <li>Paris-Brest revisité
                    55€</li>

                    <li>Macaron au chocolat d'exception et glace à la vanille de Madagascar
                    65€</li>

                    <li>Mousse au chocolat au piment d'espelette et à la truffe noire
                    60€</li>
                </ul>

            </section>

        </main>

        <footer>
            <a href="mentions_legales.html" target="_blank">Mentions légales</a>
            <a href="mailto:contact@ohmyfood.com">Contactez-nous</a>
        </footer>

    </body>
</html>