<!DOCTYPE html>
<html>
<html lang="fr">

        <head>
            <meta charset="utf-8">
            <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>OhMyFood</title>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        </head>

    <body>

        <header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>

        <main>

            <section>
                <h2>Le délice des papilles</h2>
            </section>

            <section>

                    <img src="images/ligne1delice" alt="image d'un trait">
                    <h3>Pour bien commencer</h3>
                    <img src="images/ligned1delice" alt="image d'un trait">

                <ul>
                    <li>Tartare de thon assaisonné au yuzu
                    55€</li>

                    <li>Bouchée de homard croustillant et sa farandole de petits légumes
                    89€</li>

                    <li>velouté de cèpes aux truffes
                    56€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne2delice" alt="image d'un trait">
                    <h3>Pour bien continuer</h3>
                    <img src="images/ligned2delice" alt="image d'un trait">

                <ul>
                    <li>Pouet roti aux herbes de provence et sa crème de truffe
                    110€</li>

                    <li>Langouste rôtie et ses légumes de saison
                    225€</li>

                    <li>Cotes de boeuf angus et sa purée de panais
                    115€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne3delice" alt="image d'un trait">
                    <h3>pour bien terminer</h3>
                    <img src="images/ligned3delice" alt="image d'un trait">

                <ul>
                    <li>Farandole de dessert du chef
                    55€</li>

                    <li>Crème brulée revisitée
                    60€</li>

                    <li>Tiramisu à la noisette
                    55€</li>
                </ul>

            </section>

        </main>

        <footer>
            <a href="mentions_legales.html" target="_blank">Mentions légales</a>
            <a href="mailto:contact@ohmyfood.com">Contactez-nous</a>
        </footer>

    </body>
</html>