<!DOCTYPE html>
<html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>OhMyFood</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    </head>

    <body>

        <header>
            <h1><a href="index.html">ohmyfood</a></h1>
        </header>

        <main>

            <section>
                <img class="image-note" src="images/note.png" alt="image d'une note de musique">
                <h2>La note enchantée</h2>
            </section>

            <section>

                    <img src="images/ligne1note" alt="image d'un trait">
                    <h3>Prélude</h3>
                    <img src="images/ligne2note" alt="image d'un trait">

                <ul>
                    <li>Ravioles de foie gras accompagnés de leur crême à la truffe
                        98€</li>

                    <li>Caviar asciêtre sur blini à la farine de blé noir
                        115€</li>

                    <li>Homard et espuma de potiron mariné aux zests d'orange
                        89€</li>

                    <li>Foie gras de canars cuit entier, confiture de figue et pain toasté
                        105€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne1note" alt="image d'un trait">
                    <h3>Point d'orgue</h3>
                    <img src="images/ligne2note" alt="image d'un trait">

                <ul>
                    <li>Noix de cquille saint-Jacques sur lit de purée de céléri-rave
                        102€</li>

                    <li>Langoustine poêlée, purée de patate douce
                        205€</li>

                    <li>Mijoté de queue de boeuf et riz sauvage aux zests de citron
                        169€</li>
                </ul>

            </section>

            <section>

                    <img src="images/ligne1note" alt="image d'un trait">
                    <h3>Mouvement final</h3>
                    <img src="images/ligne2note" alt="image d'un trait">

                <ul>
                    <li>Macaron noisette et chocolat, glace au caramel brun et sel de Guérande</li>

                    <li>Baba au rhum revisité avec son coulis de citron</li>

                    <li>Tarte au citron meringuée destructurée</li>
                </ul>

            </section>

        </main>

        <section>
            <img class="image-note" src="images/note.png" alt="image d'une note de musique">
            <p>La note enchantée</p>
        </section>

        <footer>
            <a href="mentions_legales.html" target="_blank">Mentions légales</a>
            <a href="mailto:contact@ohmyfood.com">Contactez-nous</a>
        </footer>

    </body>
</html>