$color-primary: #579c87;
$color-text-primary: #fdcb46;
$menu1-background-color: #fcdfdb;
$menu1-text-color: black;
$menu2-background-color: #fff5fe;
$menu2-text-color: #c77412;
$starter-menu2-color: #c77412;
$main-menu2-color: #a56799;
$end-menu2-color: #a68bdf;
$menu3-background-color: #edefef;
$menu3-text-color: #0887fb;
$menu3-title-primary: #0887fb;
$menu3-title-secondary: #c2dcf5;
$menu4-background-color: #fdfffd;
$menu4-text-color: #72bf56;
$menu4-title-primary: #72bf56;
$menu4-title-secondary: #ddf5d4;